<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>直销商城</title>
<meta name="viewport" content="width=divice-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=0"/>
<link href="__PUBLIC__/test/Css/layer.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/order.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/swiper-3.4.1.min.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/weui.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/common.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/test/Css/jquery-weui.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/test/layer/skin/default/layer.css"/>
<link rel="stylesheet" href="__PUBLIC__/test/layer/mobile/need/layer.css"/>
<link href="__PUBLIC__/test/Css/style/throughsetting.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/style/index.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/test/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/test/js/layer.js" type="text/javascript"></script>
<script src="__PUBLIC__/test/js/order.js" type="text/javascript"></script>
<script src="__PUBLIC__/test/js/swiper-3.4.1.min.js" type="text/javascript"></script>
</head>

<body>
<div class="weui_tab">
    <div class="weui_tab_bd">
        <header>
            <div class="pull-left" onclick="window.history.back()">
            <img class="icon-rotate fa fa-rotate-left" src="__PUBLIC__/test/img/Arrow.png"/>
        	</div>
            <div class="shuaxin" onclick="window.history.go(0)">
            	<img class="icon-rotate fa fa-rotate-left" src="__PUBLIC__/test/img/new.png"/>
        	</div>
            <div class="login-title">合作缴费</div>
        </header>
        
        <a href="http://pv.huimengtongbao.cn/home/test/manager" class="weui_btn weui_btn_default" style="margin-top:80px;"><img src="__PUBLIC__/test/img/hmtb.png"/></a>
        <a href="http://pv.huimengtongbao.cn/home/test/manager-2" class="weui_btn weui_btn_default"><img src="__PUBLIC__/test/img/zxsc.png"/></a>
        <a href="http://pv.huimengtongbao.cn/home/test/manager-3" class="weui_btn weui_btn_default"><img src="__PUBLIC__/test/img/jfsc.png"/></a>
        <a href="http://pv.huimengtongbao.cn/home/test/manager-4" class="weui_btn weui_btn_default"><img src="__PUBLIC__/test/img/bxcs.png"/></a>
        <a href="http://pv.huimengtongbao.cn/home/test/manager-5" class="weui_btn weui_btn_default"><img src="__PUBLIC__/test/img/zszx.png"/></a>
        
    </div>
</div>
<script type="text/javascript">
alert($);
</script>

</body>
</html>
