<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>保险超市pay</title>
<meta name="viewport" content="width=divice-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no"/>
<link href="__PUBLIC__/test/Css/layer.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/order.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/swiper-3.4.1.min.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/weui.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/common.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/style/throughsetting.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/test/Css/style/pay.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/test/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/test/js/layer.js" type="text/javascript"></script>
<script src="__PUBLIC__/test/js/order.js" type="text/javascript"></script>
<script src="__PUBLIC__/test/js/js/pay.js" language="javascript"></script>
</head>

<body style="background:#FFF;">
<div class="weui_tab">
    <div class="weui_tab_bd">
        <header>
            <div class="pull-left" onclick="window.history.back()">
            <img class="icon-rotate fa fa-rotate-left" src="__PUBLIC__/test/img/Arrow.png"/>
        	</div>
            <div class="shuaxin" onclick="window.history.go(0)">
            	<img class="icon-rotate fa fa-rotate-left" src="__PUBLIC__/test/img/new.png"/>
        	</div>
            <div class="login-title">保险超市<span>（服务商）</span></div>
        </header>
        
        <div class="weui_tab_bd" style="margin-top:60px; margin-bottom:80px;">
        
        <div class="xzpp">选择保险:
            <select>
                <option>平安</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="xzpp">保险展业证号码:
            <input type="text" value=""/>
        </div>
        <div class="xzqy">
        	<p>选择代理区域:</p>
            <select class="select-sheng">
                <option>四川</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <span>省</span>
            <select class="select-shi">
                <option>自贡</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <span>市</span>
            <select class="select-qu">
                <option>荣</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <span>区/县</span>
        </div>
        <div class="inquiry">
        	<div class="quiry">
            	<p class="quiry_1">查询</p>
            	<p class="quiry_2">该区域还有<span>3</span>名代理资格</p>
            </div>
            <table class="sheet">
            	<tr>
                	<th class="sheet_1">序号</th>
                    <th class="sheet_2">账号</th>
                    <th class="sheet_3">姓名</th>
                    <th class="sheet_4">日期</th>
                </tr>
                <tr>
                	<td>1</td>
                    <td>第三打得过个</td>
                    <td>搜狗的</td>
                    <td>2017.07.28</td>
                </tr>
                <tr>
                	<td>1</td>
                    <td>第三打得过个</td>
                    <td>搜狗的</td>
                    <td>2017.07.28</td>
                </tr>
                <tr>
                	<td>1</td>
                    <td>第三打得过个</td>
                    <td>搜狗的</td>
                    <td>2017.07.28</td>
                </tr>
            </table>
        </div>
        <div class="weui_cells weui_cells_radio">
                <label class="weui_cell weui_check_label">
                    <div class="weui_cell_bd weui_cell_primary" style="font-size:0.8rem;">
                        <p style="float:left;">你选择的代理区域是：</p>
                        <p>四川省自贡市荣县</p>
                    </div>
                    <div class="queren">
                        确认
                    </div>
                </label>
        </div>
        <div class="subordinate">
        	<p>所属招商中心：</p>
            <select class="insubo">
                <option>上海仝益资产管理有限公司</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        	
        <a href="http://pv.huimengtongbao.cn/home/test/pay.html" class="weui_btn weui_btn_warn">确认</a>
        
    </div>
</div>


</body>
</html>
