<extend name="layout/home" />
<block name="title"><title>购物车</title></block>

<block name="header">
<style type="text/css">
.jumbotron {
    background-color: #eee;
    color: inherit;
    margin-top:60px;
    margin-bottom: 10px;
}
.jumbotron p {
    font-size:1.0rem;
    font-weight: 200;
    margin-bottom: 15px;
	text-align:center;
}
</style>
		<header class="weui_cell_hd" style="background: #829a2e; text-align:center; color:#FFF; z-index:2;">
	    	购物车
            <div class="pull-right" style="position:fixed; top:0px; font-size:1.1rem; right:3%;">
	            <span style="float:left;">编辑</span><img style="margin-top:12px;float:left;" src="__PUBLIC__/home/img/tb-3.png" alt="" />
	        </div>
	    </header>

</block>
<block name="content">

    <form action="__URL__/commit" method="post">
		<div class="weui_cell_hd" style="margin-top:50px; margin-bottom:100px;">
        	<ul class="gwc_pp">
            <if condition="!empty($_SESSION['pv_cart'])">
            <foreach name="cart" item="vo">
            	<li>
                	<ul class="gwc_sp">
                    	<li>
                        	<input value="{$key}" name="dx[]" class="gwc_ft_an2" type="checkbox"/>
                        	<img class="gwc_pic_cp" src="__PUBLIC__/Uploads/goods/{$vo.pic}"/>
                            <div class="gwc_cp_xs">
                                <p class="gwc_p3">安利多种植物蛋白粉(770克)</p>
                                <p class="gwc_p4">&yen;560.00</p>
                                <p class="gwc_p5">&times;1</p>
                                <p class="gwc_p6">通粉优惠：&yen;400+160TBC</p>
                            </div>
                            <div class="gwc_cp_yc">
                                <div class="gwc_yc_l">
                                    <div class="gwc_yc_lt">
                                        <div class="gwc_yc_ltl">&ndash;</div>
                                        <div class="gwc_yc_ltm">1</div>
                                        <div class="gwc_yc_ltl">+</div>
                                    </div>
                                    <div class="gwc_yc_lb">安利多种植物蛋白粉(770克)</div>
                                </div>
                                <div class="gwc_yc_r">删除</div>
                            </div>
                        </li>
                    </ul>
                </li>
                </foreach>
        <else />
            <div class="jumbotron">
              <p>您的购车暂无商品</p>
              <br>
              <p style="float:right;padding-right:8%"><a href="__URL__/search">去购物</a></p>
            </div>
        </if>
            </ul>
            <if condition="!empty($_SESSION['pv_cart'])">
    <div class="gwc_ft">
        <input name="all" class="gwc_ft_an" type="checkbox" />
        <p class="gwc_p7">全选</p>
        <p class="gwc_p8">合计：</p>
        <p class="gwc_p9">&yen;0</p>
        <button>结算&nbsp;(0)</button>
    </div>
    </if>
        </div>
        </form>
    <script type="text/javascript">
    $(function(){
        var l = $("input[name=dx]").length;
        // (取消)全选
        $('input[name=all]').click(function(){
            var flag = $(this).attr('checked');
            if(flag){
                $(this).attr('checked','checked');
                $('ul .gwc_ft_an2').attr('checked','checked');
            }else{
                $(this).removeAttr('checked');
                $('ul .gwc_ft_an2').removeAttr('checked');
            }
        });
        for(var i = 0;i<l;i++)
        {
            $("input[name=dx]").click(function(){
                var num = 0;
                for(var j = 0 ;j<l;j++){
                    if($("input[name=dx]").eq(j).attr('checked'))
                    {
                        num++;
                    }
                    if(l == num){
                        $('input[name=all]').attr('checked','checked');
                    }else{
                        $('input[name=all]').removeAttr('checked');
                    }
                }
            });
        }
    });
    </script>
</block>