<extend name="layout/home" />
<block name="title"><title>购物车-汇盟通宝科技</title></block>
<block name="header">
	<div class="header">
    	<p class="hd_gwc">购物车</p>
        <p class="hd_gwc_bj">编辑</p>
        <img class="hd_r" src="__PUBLIC__/home/img/tb-3.png"/>
    </div>
</block>
<block name="content">    
    <ul class="gwc_pp">
    	<li>
        	<div class="gwc_pp_t">
                <form><input class="gwc_ft_an1" type="radio"/></form>
                <img class="gwc_pic" src="__PUBLIC__/home/img/logo-al.png"/>
                <p class="gwc_p1">安利&gt;</p>
                <p class="gwc_p2">编辑</p>
            </div>
        	<ul class="gwc_sp">
            	<li>
                	<form><input class="gwc_ft_an2" type="radio"/></form>
                	<img class="gwc_pic_cp" src="__PUBLIC__/home/img/Anli/安利产品详情页_03.jpg"/>
                    <div class="gwc_cp_xs">
                        <p class="gwc_p3">安利多种植物蛋白粉(770克)</p>
                        <p class="gwc_p4">&yen;560.00</p>
                        <p class="gwc_p5">&times;1</p>
                        <p class="gwc_p6">通粉优惠：&yen;400+160PV</p>
                    </div>
                    <div class="gwc_cp_yc">
                    	<div class="gwc_yc_l">
                        	<div class="gwc_yc_lt">
                            	<div class="gwc_yc_ltl">&ndash;</div>
                                <div class="gwc_yc_ltm">1</div>
                                <div class="gwc_yc_ltl">+</div>
                            </div>
                            <div class="gwc_yc_lb">安利多种植物蛋白粉(770克)</div>
                        </div>
                        <div class="gwc_yc_r">删除</div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="gwc_pp_t">
                <form><input class="gwc_ft_an1" type="radio"/></form>
                <img class="gwc_pic" src="__PUBLIC__/home/img/logo-ah.png"/>
                <p class="gwc_p1">安惠&gt;</p>
                <p class="gwc_p2">编辑</p>
            </div>
        	<ul class="gwc_sp">
            	<li>
                	<form><input class="gwc_ft_an2" type="radio"/></form>
                	<img class="gwc_pic_cp" src="__PUBLIC__/home/img/Anli/安利产品详情页_03.jpg"/>
                    <div class="gwc_cp_xs">
                        <p class="gwc_p3">安利多种植物蛋白粉(770克)</p>
                        <p class="gwc_p4">&yen;560.00</p>
                        <p class="gwc_p5">&times;1</p>
                        <p class="gwc_p6">通粉优惠：&yen;400+160PV</p>
                    </div>
                    <div class="gwc_cp_yc">
                    	<div class="gwc_yc_l">
                        	<div class="gwc_yc_lt">
                            	<div class="gwc_yc_ltl">&ndash;</div>
                                <div class="gwc_yc_ltm">1</div>
                                <div class="gwc_yc_ltl">+</div>
                            </div>
                            <div class="gwc_yc_lb">安利多种植物蛋白粉(770克)</div>
                        </div>
                        <div class="gwc_yc_r">删除</div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="gwc_ft">
        <form><input class="gwc_ft_an" type="radio"/></form>
        <p class="gwc_p7">全选</p>
        <p class="gwc_p8">合计：</p>
        <p class="gwc_p9">&yen;0</p>
        <p class="gwc_p10">结算&nbsp;(0)</p>
    </div>
</block>