<extend name="layout/home" />
<block name="title"><title>{$goods.gname}({$goods.size})</title></block>
<block name="content">
    <div class="pic"><img class="pic_pic" src="__ROOT__/Public/Uploads/goods/{$goods.pic}"/></div>
    <div class="ad_name">
        <p class="inad_name_t">{$goods.gname}({$goods.size})</p>
        <p class="inad_name_m">产品编号: {$goods.gid}</p>
        <p class="inad_name_m">产品规格: {$goods.size}</p>
        <p class="inad_name_bl">&yen;{$goods.price}</p>
        <p class="inad_name_br">通粉优惠：&yen;{$goods.fprice}+{$goods.pv}PV</p>
    </div>
    <p class="ad_cpms">产品描述：</p>
    <div class="ad_cptd_u">{$goods.desc}</div>
    <p class="ad_cptd">产品特点：</p>
    <div class="ad_cptd_u">{$goods.special}</div>
    <p class="ad_cptd">注意事项：</p>
    <div class="ad_zysx_u ad_cptd_u">{$goods.notice}</div>
</block>
<block name="footer">
<div class="footer">
    <a class="ft_2" href="{:U('home/index/index')}"><img class="ft_1" src="__PUBLIC__/home/img/tb-8.png"/><p class="ft_z">首页</p></a>
    <a class="ft_3" href="{:U('home/index/info')}"><img class="ft_1" src="__PUBLIC__/home/img/tb-5.png"/><p class="ft_z">我的</p></a>
    <a class="ft_5" href="__URL__/addCart?gid={$goods.id}"><p class="ft_zgwc">加入购物车</p></a>
    <a class="ft_6" href="#"><p class="ft_zgm">立即购买</p></a>
</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"image":{"viewList":["qzone","tsina","weixin","tqq","sqq"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</block>