<extend name="layout/home" />
<block name="title"><title>直销商城-汇盟通宝科技</title></block>
<block name="goto">
    <div class="weui_cell_hd" onclick="goto();" >
        <img src="__PUBLIC__/home/img/tb-1.png" alt=""/>
    </div> 
</block>
<block name="content">

	<div class="banner">
	        <div class="swiper-container gallery-top">
	            <div class="swiper-wrapper">
                	<foreach name="view" item="lb">
                	<if condition="$lb.status eq 0">
	            	<a class="swiper-slide" href="__URL__/glist?id={$lb.cate_id}" style="background-image:url(__PUBLIC__/Uploads/banners/{$lb.pic})"></a>
                    </if>
                	</foreach>
	            </div>
	            <div class="swiper-button-next swiper-button-white"></div>
	            <div class="swiper-button-prev swiper-button-white"></div>
	        </div>
	        <div class="swiper-container gallery-thumbs">
	            <div class="swiper-wrapper">
                	<foreach name="view" item="lb">
                    <if condition="$lb.status eq 0">
	                <div class="swiper-slide" style="background-image:url(__PUBLIC__/Uploads/banners/{$lb.pic})"></div>
                    </if>
                	</foreach>
	            </div>
	        </div>
    	</div>

    <div class="logo" style="height:70px;">
        <foreach name="res" item="img">
    	   <a class="inlogo" href="__URL__/glist?id={$img.id}"><img class="inlg_pic" src="__PUBLIC__/Uploads/cate/{$img.logo}"/></a>
        </foreach>
        <a class="inlogo" href="__URL__/more"><img class="inlg_pic" src="__PUBLIC__/home/img/logo-gd.png"/></a>
    </div>
    
    <foreach name="res" item="vo">
    <if condition="$key%2 eq 0">
    <a href="__URL__/glist?id={$vo.id}" class="inad_1">
        	<ul class="inad_1_l">
            	<foreach name="vo['tj']" item="tj">
                <li><img class="inad_pic1" src="__PUBLIC__/Uploads/recommend/{$tj.pic}"/></li>
                </foreach>
            </ul>
            <div class="inad_1_r">
                    <div class="inad_1_rt">{$vo.name}&nbsp;&nbsp;<b>&gt;</b></div>
                    <div class="inad_1_rm">{$vo.intro}</div>
            </div>
        </a>
        <else/>
        <a href="__URL__/glist?id={$vo.id}" class="inad_1">
                <div class="inad_1_r">
                    <div class="inad_1_rt">{$vo.name}&nbsp;&nbsp;<b>&gt;</b></div>
                    <div class="inad_1_rm">{$vo.intro}</div>
                </div>
                <ul class="inad_1_l">
                    <foreach name="vo['tj']" item="tj">
                    <li><img class="inad_pic1" src="__PUBLIC__/Uploads/recommend/{$tj.pic}"/></li>
                    </foreach>
                </ul>
        </a>
        </if>
    	</foreach>
        
        <div class="gszj">
	    	<img class="gszj_l" src="__PUBLIC__/home/img/logo-hmtb.png"/>
	        <div class="gszj_m"></div>
	        <div class="gszj_r"><a style="text-decoration:none;color:black;" href="__APP__/admin/index/index">管理中心</a>"</div>
	        <div class="gszj_b">汇盟通宝直销商城事业部</div>
    	</div>
    <script type="text/javascript">
    function goto(){
        window.location.href='http://www.huimengtongbao.cn:8081/hmtb/html/index/index.html';
    }
    </script>
</block>
