<extend name="layout/home" />
<block name="title"><title>我的</title></block>
<block name="header">
	<div class="header">
    	<p class="hd_gwc">我的</p>
        <img class="hd_r" src="__PUBLIC__/home/img/tb-3.png"/>
    </div>
</block>
<block name="content">
    <style type="text/css">
        .wd_dfh_ap_info{
            font-size:26px;
            color: #757575;
            text-align: center;
            width: 100%;
        }
    </style>
    <div class="banner_wd">
    	<img class="baner_pic_wd" src="__PUBLIC__/home/img/Wode/baner_02.jpg"/>
        <img class="baner_pic_wdtx" src="__PUBLIC__/home/img/Wode/我的_03.jpg"/>
        <p class="banner_wd_name">汇盟通宝：13983625783</p>
    </div>
    
    <div class="wd_wddd">我的订单<p class="inwd_wddd">查看全部订单&gt;</p></div>
    
    <div class="wd_dfh">
    	<a class="wd_dfh_a" href="待付款.html"><img class="wd_dfh_apic" src="__PUBLIC__/home/img/Wode/待付款.png"/><p class="wd_dfh_ap_info">待付款</p></a>
        <a class="wd_dfh_a" href="待发货.html"><img class="wd_dfh_apic" src="__PUBLIC__/home/img/Wode/待发货.png"/><p class="wd_dfh_ap_info">待发货</p></a>
        <a class="wd_dfh_a" href="待发货.html"><img class="wd_dfh_apic" src="__PUBLIC__/home/img/Wode/待收货.png"/><p class="wd_dfh_ap_info">待收货</p></a>
        <a class="wd_dfh_a" href="待评价.html"><img class="wd_dfh_apic" src="__PUBLIC__/home/img/Wode/花.png"/><p class="wd_dfh_ap_info">待评价</p></a>
    </div>
    
    <div class="wd_jf">我的积分<p class="wd_jf_pic">1000</p></div>
    <div class="kong"></div>

</block>
