<extend name="layout/home" />
<block name="title"><title>全部品牌-汇盟通宝科技</title></block>
<block name="content">
<div class="weui_tab">
    <div class="weui_tab_bd" style="max-width:640px; margin:70px auto;">
    	<foreach name="res" item="vo">
        	<a class="inlogo" href="__URL__/glist?id={$vo.id}"><img class="inlg_pic" src="__PUBLIC__/Uploads/cate/{$vo.logo}"/>
            </a>
        </foreach>
        <a class="inlogo" href="__URL__/more"><img class="inlg_pic" src="__PUBLIC__/home/img/logo-gd.png"/></a>
    </div>
</div>
</block>