<extend name="layout/home" />
<block name="title"><title>待付款</title></block>
<block name="header">
	<div class="header">
    	<a class="fanhui" onClick="javascript:window.history.back()">
            <img class="hd_ltb" src="img/tb-1.png"/>
            <p class="hd_fh">返回</p>
        </a>
        <p class="hd_cpxq">我的</p>
        <img class="hd_r" src="img/tb-3.png"/>
    </div>
</block>
<block name="content">
    <div class="wd_nav">
    	<a class="wd_nav_a" href="全部订单.html">全部订单</a>
        <a class="wd_nav_a wd_nav_active" href="待付款.html">待付款</a>
        <a class="wd_nav_a" href="待发货.html">待发货</a>
        <a class="wd_nav_a" href="待评价.html">待评价</a>
    </div>
    
    <ul class="wd_pp">
    	<li>
        	<div class="gwc_pp_t">
                <img class="gwc_pic" src="img/logo-al.png"/>
                <p class="gwc_p1">安利&gt;</p>
                <p class="gwc_p11">待付款</p>
            </div>
        	<ul class="gwc_sp">
            	<li>
                	<img class="gwc_pic_cp" src="img/Anli/安利产品详情页_03.jpg"/>
                    <div class="gwc_cp_xs">
                        <p class="gwc_p3">安利多种植物蛋白粉(770克)</p>
                        <p class="gwc_p4">&yen;560.00</p>
                        <p class="gwc_p5">&times;1</p>
                        <p class="gwc_p6">通粉优惠：&yen;400+160PV</p>
                    </div> 
                </li>
            </ul>
            <div class="wd_cp_gj">
            	<p class="wd_cp_gjp1">共1件商品</p>
                <p class="wd_cp_gjp2">合计：&yen;560（含运费：&yen;0.00）</p>
                <a class="wd_cp_fk" href="确认订单.html">付款</a>
            </div>
        </li>
        <li>
            <div class="gwc_pp_t">
                <img class="gwc_pic" src="img/logo-ah.png"/>
                <p class="gwc_p1">安惠&gt;</p>
                <p class="gwc_p11">待付款</p>
            </div>
        	<ul class="gwc_sp">
            	<li>
                	<img class="gwc_pic_cp" src="img/Anli/安利产品详情页_03.jpg"/>
                    <div class="gwc_cp_xs">
                        <p class="gwc_p3">安利多种植物蛋白粉(770克)</p>
                        <p class="gwc_p4">&yen;560.00</p>
                        <p class="gwc_p5">&times;1</p>
                        <p class="gwc_p6">通粉优惠：&yen;400+160PV</p>
                    </div>
                </li>
            </ul>
            <div class="wd_cp_gj">
            	<p class="wd_cp_gjp1">共1件商品</p>
                <p class="wd_cp_gjp2">合计：&yen;560（含运费：&yen;0.00）</p>
                <a class="wd_cp_fk" href="确认订单.html">付款</a>
            </div>
        </li>
    </ul>
    
    <div class="kong"></div>
</block>