<extend name="layout/admin" />
<block name="title"><title>用户列表页</title></block>
<block name="content">
	<div class="col-md-12 graphs">
	    <div class="xs">
	  		<h3>用户列表</h3>
			<div class="bs-example4" data-example-id="simple-responsive-table">
			    <div class="table-responsive">
			      <table class="table table-bordered">
			        <thead>
			          <tr>
			            <th>ID</th>
			            <th>所属品牌</th>
			            <th>简介</th>
			            <th>轮播图</th>
			            <th>是否显示</th>
			            <th>操作</th>
			          </tr>
			        </thead>
			        <tbody>
			        <foreach name="res" item="vo" >
			          <tr>
			            <th scope="row">{$vo['id']}</th>
			            <td>{$vo['cate_id']|getCateName}</td>
			            <td>{$vo['intro']}</td>
			            <td><img src="__ROOT__/Public/Uploads/banners/{$vo['pic']}" style="width:50px;" alt=""></td>
			            <td>{$vo['status']|getViewStatus}</td>
			            <td>
			            	<a href="{:U('admin/view/delete',array('id'=>$vo['id']))}">删除</a>||
							<a href="{:U('admin/view/edit',array('id'=>$vo['id']))}">修改</a>
						</td>
			          </tr>
			        </foreach>
			        </tbody>
			      </table>
			      <div style="float:right;">
			      	{$page}
			      </div>
			    </div>
		  	</div>
  		</div>
   </div>
</block>